footer {
    position: relative;
    margin: 0 auto;
    padding: 0 1.5em 3em;
    display: flex;
    align-items: center;
    max-width: var(--content-width);

    a {
        transition-duration: 0.2s;
        margin-right: 1.5em;
        fill: var(--icon-color);

        &:hover {
            fill: var(--icon-color-hover);
        }
    }
}

.mail {
    margin-top: 0.5em;
}

@media screen and (max-width: 58em) {
    footer {
        max-width: var(--content-width);
    }
}
