:root {
    --body-bg-color: #ffffff;
    --text-color: #212121;
    --primary-color: #2377BE;
    --indent-color: rgba(154, 154, 154, 0.5);
}

@media (prefers-color-scheme: dark) {
    :root {
        --body-bg-color: #212121;
        --text-color: #dedede;
    }
}

* {
    margin: 0;
    padding: 0;
    font-family: Merriweather, Georgia, serif;
    color: var(--text-color);
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--body-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    transition-duration: 0.2s;
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    text-decoration: underline;
}

/* content */

.container {
    height: 100vh;
    width: 70vw;
    margin: 2rem auto 1rem;
    padding: 2rem;
}

.content {
    margin-bottom: 1rem;
}

.content h1 {
    margin-bottom: 1rem;
    font-size: 2rem;
}

.content p {
    font-size: 1rem;
}

/* links */

.links p * {
    font-family: monospace;
}

.links p {
    font-size: 0.875rem;
    margin-bottom: 1rem;
    display: flex;
}

.links p:last-child {
    margin-bottom: 0;
}

.links p .indent {
    margin-right: 0.8rem;
    color: var(--indent-color);
}

