/* root */

:root {
    --body-bg-color: #ffffff;
    --text-color: #212121;
    --content-width: 54rem;
    --primary-color: #2377BE;
    --primary-color-hover: #548EBE;
    --indent-color: rgba(154, 154, 154, 0.5);
}

@media (prefers-color-scheme: dark) {
    :root {
        --body-bg-color: #212121;
        --text-color: #dedede;
    }
}

* {
    margin: 0;
    padding: 0;
    font-family: Merriweather, Georgia, serif;
    color: var(--text-color);
}

html, body {
    font-size: 16px;
    height: 100%;
    min-height: 100%;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

body {
    margin: 0;
    background-color: var(--body-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    transition-duration: 0.2s;
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    text-decoration: underline;
    color: var(--primary-color-hover);
}

/* content */

.container {
    height: 100vh;
    width: 100vw;
    max-width: var(--content-width);
    margin: 4em auto 1em;
}

.content {
    margin-bottom: 1em;
}

@media screen and (max-width: 58em) {
    .content {
        margin: 2em 0;
    }
}

.content h1 {
    margin-bottom: 0.5em;
}

/* footer */

.links {
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: var(--content-width);
}

@media screen and (max-width: 58em) {
    .links {
        max-width: var(--content-width);
    }
}

.links p {
    margin-bottom: 1em;
}

.links p:last-child {
    margin-bottom: 0;
}

.links .indent {
    margin-right: 1em;
    color: var(--indent-color);
}
