.photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    img {
        width: 20em;
        border-radius: 0.5em;
    }

    > div {
        width: 20em;
        margin-bottom: 1em;
        margin-right: 1em;

        h2 {
            margin: 0.25em 0 0;
            font-size: 1.25em;
            text-transform: capitalize;
        }
    }
}
