.footer {
    position: relative;
    padding-bottom: 20px;
    margin: 0 auto;
    padding: 0 1.5em;
    display: flex;
    align-items: center;
    max-width: 54rem;

    a {
        transition-duration: 0.2s;
        margin-right: 1.5em;
        fill: var(--icon-color);

        &:hover {
            fill: var(--icon-color-hover);
        }
    }
}

@media screen and (max-width: 58em) {
    .footer {
        max-width: 36rem;
    }
}

