{% extends "base.html" %}

{% block content %}
<div class='summary'>
  <img class='photo' src='austin.jpg' alt='A nice picture of me!' />
  <div>
      <p>Hi, I'm Austin! I'm a software engineer and I love learning more about programming!</p>
      <p>This website has some information about me and pictures I've taken, but I mostly use it to try out new web technologies!</p>
  </div>
</div>
<h1>Here's a little bit about me.</h1>
<div>
  <p>I first started programming in middle school when I discovered the Codeacademy course on JavaScript. Within an hour of starting the course, I was proudly showing my mom the basic for loops I made!</p>
  <p>In high school, I joined robotics to help program robots in C++, but I ended up switching gears and helping out with the team's web team. I helped work on <a href='https://atthecontrol.com' rel='noopener noreferrer' target='_blank'>At The Control</a>, a streaming service for <a href='https://www.firstinspires.org/robotics/frc' rel='noopener noreferrer' target='_blank'>FIRST Robotics Competition</a> events.</p>
  <p>After graduating from high school, I went to the <a href='https://msoe.edu' rel='noopener noreferrer' target='_blank'>Milwaukee School of Engineering</a> to major in software engineering.</p>
  <p>Now I spent my time by staying involved in FIRST Robotics and doing cloud/mobile development!</p>
</div>
{% endblock content %}
